<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= render 'shared/content_header', content: "Businesses" %>
      <ul>
        <li>
          <div class="well">
            <h3><%= link_to "La Gloria Market", '' %></h3>
            <p> 4/5 Stars <span>(5 Reviews)</span></p>
            <p>Home-cooked mexican fare in the style of Oaxaca!</p> 
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>