<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 id="page_heading">Recent Reviews</h2>
      <ol>
        <li>
          <header>
            <p><strong><a href="">Andy</a></strong> wrote a review for <strong><a href="">La Gloria Mexican Restaurant</a></strong></p>
            <p><span class="glyphicon glyphicon-star"></span> <time>12-12-12 12:00 pm</time></p>
          </header>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </li>
        <li>
          <header>
            <p><strong><a href="">Andy</a></strong> wrote a review for <strong><a href="">La Gloria Mexican Restaurant</a></strong></p>
            <p><span class="glyphicon glyphicon-star"></span> <time>12-12-12 12:00 pm</time></p>
          </header>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </li>
        <li>
          <header>
            <p><strong><a href="">Andy</a></strong> wrote a review for <strong><a href="">La Gloria Mexican Restaurant</a></strong></p>
            <p><span class="glyphicon glyphicon-star"></span> <time>12-12-12 12:00 pm</time></p>
          </header>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </li>
      </ol>
    </div>
  </div>
</div>