<div class="container">
  <div class="row">
    <div class="col-md-6 col-offset-3">
      <div id="user-profile">
        <img src="http://placehold.it/150x150"/>
        <h4>Andrew D. Nahon</h4>
        <p>
          I live in Bellingham and want to kill myself.  I am 
          thirty five years old and have accomplished absolutely nothing. I enjoy cooking, skateboarding, and self-loathing.
        </p>
      </div>
      <h4>Reviews</h4>
      <ul>
        <li class="well">
          <article>
            <h4><a href="">La Gloria Mexican Market</a></h4>
            <p>Rating: <time >12-12-12 12:00 pm</time></p>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
          </article>
        </li>
        <li class="well">
          <article>
            <h5>La Gloria Mexican Market</h5>
            <p>Rating:</p>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
          </article>
        </li>
        <li class="well">
          <article>
            <h5>La Gloria Mexican Market</h5>
            <p>Rating:</p>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
          </article>
        </li>
      </ul>
    </div>
    
  </div>
  
</div>